/*CSS for the landing page */
.pageContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  flex-direction: row;
}

/* Left section styling */
.leftContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
}

/* Right section styling */
.rightContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #5A67D8, #805AD5); /* Gradient background */
  color: white;
}

/* Form container */
.myForm {
  width: 100%;
  max-width: 400px;
  padding: 30px;
}

/* Welcome and sub message styling */
.welcomeMessage {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.subMessage {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

/* Input field styling */
.pageContainer .textField {
  margin-top: 20px;
}

/* Button styling */
.pageContainer .myFormButton {
  margin-top: 20px;
  background-color: #5A67D8;
  color: white;
  &:hover {
    background-color: #434190;
  }
}

.pageContainer .options {
  margin-top: 10px;
}

.pageContainer .divider {
  margin: 20px 0;
  width: 100%;
  text-align: center;
  color: #777;
}

/* Social button */
.pageContainer .socialButton {
  margin-top: 10px;
}

.pageContainer .socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageContainer .socialButton:hover {
  background-color: #b4b3b3;
}

/* Register/Login toggle */
.pageContainer .myFormActions {
  margin-top: 20px;
  text-align: center;
}

.pageContainer .toggleButton {
  text-decoration: underline;
  cursor: pointer;
  color: #5A67D8;
}

/* Company name styling on the right */
.pageContainer .companyName {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .pageContainer{
    flex-direction: column;
  }

  .leftContainer,
  .rightContainer {
    width: 100%;
    height: auto;
  }

  .rightContainer{
    height: auto;
    padding: 20px;
    order: -1;
  }

  .leftContainer {
    padding: 20px;
  }

  .myForm {
    padding: 20px;
    max-width: 300px;
  }

  .welcomeMessage {
    font-size: 24px;
  }

  .pageContainer .companyName {
    font-size: 40px;
  }

  /* Main Content */
  .mainContent {
    flex-grow: 1;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* For better contrast */
    overflow-y: auto;
  }
}

@media (max-width: 480px) {
  .pageContainer {
    flex-direction: column;
  }

  .leftContainer, 
  .rightContainer {
    width: 100%;
    height: auto;
  }

  .rightContainer {
    height: auto;
    padding: 20px;
    order: -1; /* Move the right container to the top */
  }

  .leftContainer {
    padding: 15px;
  }

  .myForm {
    padding: 15px;
    max-width: 90%;
  }

  .welcomeMessage {
    font-size: 22px;
  }

  .subMessage {
    font-size: 12px;
  }

  .myFormButton {
    padding: 10px;
  }

  .pageContainer .companyName {
    font-size: 32px;
    text-align: center;
  }

  .container .title {
    font-size: 2.0rem; /* Even smaller font size on very small screens */
  }

  .pantryBox {
    padding: 5px; /* Reduced padding */
  }

  .pantryList {
    max-height: 200px; /* Increased height for better scrolling */
  }

  .pantryItem {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px; /* Reduced padding */
  }

  .itemName, .itemCount {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
  }

  .removeButton {
    align-self: flex-end;
  }

  .mainContent {
    padding-top: 35px; /* Reduced padding */
    padding-left: 5px; /* Reduced padding */
    padding-right: 5px;
  }

  .modalContainer {
    width: 90%; /* Full width */
    max-width: 90%; /* Removed fixed max-width */
    padding: 15px; /* Reduced padding */
  }

  .addButton, .searchButton {
    padding: 8px 15px; /* Reduced button padding */
    font-size: 1rem; /* Slightly smaller font size */
  }
}
